<%- include('partials/header') %>
    <div class="chat">
        <div id="sidebar" class="sidebar">
            
        </div>
        <div class="chat__main">
            <div id="messages" class="chat__messages"></div>
            <div class="compose">
                <form id="message-form">
                    <input type="text" name="message" placeholder="Message" required autocomplete="off" id="myText">
                    <button>Send</button>
                </form>
                <button id="send-location">SendLocation</button>
            </div>
        </div>
    </div>
    <script id="admin-message-template" type="text/html">
        <div class="admin-message">
            <p class="para">
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p class="para">{{message}}</p>
        </div>
    </script>
    <script id="receive-message-template" type="text/html">
        <div class="message left">
            <p class="left">
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p class="left">{{message}}</p>
        </div>
    </script>
    <script id="send-message-template" type="text/html">
        <div class="message right">
            <p class="right">
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p class="left">{{message}}</p>
        </div>
    </script>
    <script id="receive-location-message-template" type="text/html">
        <div class="message left">
            <p class="left">
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p class="left"><a href="{{url}}" target="_blank">My Current Location</a></p>
        </div>
    </script>
    <script id="send-location-message-template" type="text/html">
        <div class="message right">
            <p class="right">
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p class="left"><a href="{{url}}" target="_blank">My Current Location</a></p>
        </div>
    </script>
    <script id="sidebar-template" type="text/html">
        
            <div class="logo-details">
                <i class='bx bx-chat icon' ></i>
                <div class="logo_name">Room:{{room}}</div>
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            <ul class="nav-list">
                <li class="list">
                    <a href="#">
                        <i class='bx bx-user' id="user"></i>
                        <span class="links_name">Online Users:</span>
                    </a>
                    <span class="tooltip">Online Users</span>
                </li>
                <div class="container">
                    {{#users}}
                        <p class="parahide" style="color: white; margin: 5px 16px;"><span style="margin-right: 12px;">🟢</span>{{username}}</p>
                    {{/users}}
                </div>
                <li  class="list"id="joinRoom" class="list">
                    <a href="/joinroom">
                        <i class='bx bx-door-open' title="Join Other Room"></i>
                        <span class="links_name">Join Other Room</span>
                        </a>
                </li>
                <li id="logout" class="list">
                    <a href="/logout">
                    <i class='bx bx-log-out' title="Logout"></i>
                    <span class="links_name">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/chat.js"></script>
<%- include('partials/footer') %>   